body{
    font-family: 'Nunito Sans' !important;
  }
  .add-address-form{
    width: 500px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0 20px;
}
.add-address-form-body{
    width: 500px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 50px;
}
h1{
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #5e6a75;
}
  .address-form{
    width: 500px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0 20px;
  }
  form{ 
    width: 500px;
    margin: auto;
    border-radius: 5px;
    font-size: 14px;
    padding:0 20px;
  }
  form label{
    font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color: #333333;
  }
   h1{
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: 500;
color: #5e6a75;
  }
  label{
    display:block;
    margin-bottom: 10px;
  }
  input[type="text"]
{
width: 85%;
padding: 8px;
margin-bottom: 5px;
border: 1px solid #ccc;
box-sizing: border-box;
}
select{
width: 85%;
padding: 8px;
border: 1px solid #ccc;
box-sizing: border-box;
margin-bottom: 15px;
}
#btnSave{
width: 24%;
padding: 10px;
margin-top: 10px;
font-weight: bold;
border: none;
border-radius: 4px;
cursor: pointer;
background-color: #36B8FF;
color: white;
/* float: right; */
margin-bottom: 10px;
}
.button-sets{
display: flex;
justify-content: space-between;
}
button:hover{
opacity: 0.8;
}
p{
width: 100px;
}
.error-message {
color: red;
font-size: 12px;
display: none;
}
.address-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}